name: Build and Publish

on:
  workflow_run:
    workflow: ["Fetch Upstream"]
    types:
      - completed
  schedule:
    - cron: '0 0 */7 * *' # Regularly build weekly
  push:
    branches:
      - master
    tags:
      - v*.*.*
  release: 
    types: [published]

jobs:
  docker-hub:
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: 'master'

      - name: Build and push
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: https403/gotify-cli
          tag_with_ref: true
          tag_with_sha: true
